@font-face {
  font-family:"monaco1";
  src: url(font/monaco.ttf)
}

canvas { 
  border: 8px solid black;  
}

p {
  font-family: 'monaco1'; 
  font-size: 30px;
}

p.a {
  text-align: center;
  font-size: 40px;
}

h1 {
  text-align: center; 
  font-family: 'monaco1'; 
  font-size: 80px;
}

.x {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}